﻿@model IEnumerable<GreggNote.Models.ViewModels.NoteListViewModel>
<p>
    @Html.ActionLink("Create A New Note", "Create")
</p>
<p>
    @Html.ActionLink("Make A New Group", "CreateGroup")
</p>

@if (TempData.ContainsKey("ErrorMessage"))
{
    <p style="color: red"><strong>Error:</strong> @TempData["ErrorMessage"]</p>
}
<!-- <div>
    @*Html.Partial("_GroupList") *@
</div>
-->

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Group.GroupName)
        </th>
        <th></th>
    </tr>

    @if (ViewBag.Groups != null)
    {
        foreach (var item in ViewBag.groups)
        {
        <tr>

            <td class="glyphicon glyphicon-folder-close" style="color: #aaa; font-size:18pt;">

                <a href="/Notes/GetAllInGroup/@item.GroupId">@item.GroupName</a>
            </td>
        </tr>
        
        }
    }
</table>
<table class="table">
    <tr>
        <th>
            Favorite
        </th>
        <th>
            <a href="/Notes?sort=name">@Html.DisplayNameFor(model => model.Name)</a>
            @if (ViewBag.SortBy == "name")
            {
                if (ViewBag.sortAscend)
                {
                    <a>&#9650</a>
                }
                else
                {
                    <a>&#9660</a>
                }
            }
        </th>

        <th>
            <a href="/Notes?sort=created">@Html.DisplayNameFor(model => model.DateCreated)</a>
            @if (ViewBag.SortBy == "created")
            {
                if (ViewBag.sortAscend)
                {
                    <a>&#9650</a>
                }
                else
                {
                    <a>&#9660</a>
                }
            }
        </th>
        <th>
            <a href="/Notes?sort=modified">@Html.DisplayNameFor(model => model.DateModified)</a>
            @if (ViewBag.SortBy == "modified")
            {
                if (ViewBag.sortAscend)
                {
                    <a>&#9650</a>
                }
                else
                {
                    <a>&#9660</a>
                }
            }
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model){
      if (item.GroupId == null || item.GroupId == -1)
      {
        <tr>
            <td>
                @if (!item.IsFavorite)
                {
                    <a href="/Notes/Toggle/@item.Id"><span class="glyphicon glyphicon-star-empty" style="color: #aaa; font-size:18pt;"></span></a>
                }
                else
                {
                    <a href="/Notes/Toggle/@item.Id">
                        <span class="glyphicon glyphicon-star" style="color: #00ff21; font-size:18pt">
                        </span>
                    </a>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateModified)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
      }
    }
    </table>
@using (Html.BeginForm())
{
    if (ViewBag.isGroupView == true)
    {
        <div>
            @Html.ActionLink("Back to List", "Index")
            @* Delete Group @Html.DropDownList(new SelectList(ViewBag.GroupList, "GroupId", "GroupName", -1), new { htmlAttributes = new { @class = "form-control" } })
            *@
        </div>
    }
    else
    {
        <div>
            @Html.TextBox("SearchString")
            <input type="submit" value="Search Notes" />
        </div>


    }
}

