﻿@model IEnumerable<GreggNote.Models.ViewModels.NoteGroupListViewModel>

<p>
    @*Html.ActionLink("Create New Group", "CreateGroup") *@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            
            <td class="glyphicon glyphicon-folder-close" style="color: #aaa; font-size:18pt;"></td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                //@@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                // @@Html.ActionLink("Details", "Details", new { id = item.Id }) |
                //@@Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
    
</table>
